In [1]:
import pandas as pd

df = pd.read_csv("/opt/ml/input/data/train/augmented_google.tsv", delimiter='\t', header=None)

In [2]:
df.tail()

                                                       0        1      2   3
14608  13 일, 강진군 산악회 (회장 황용 이순신)은 겨울이며, 이웃은 힘의 근처에 살기...  강진군 산악회     회장  10
14609  2002년 FIFA 월드컵 사우디아라비아의 첫 번째 다리에서 독일 80 원이었고 네...  사우디아라비아  2002년   0
14610  일본의 두 메이커 토요타 및 닛산은 시장 점유율을 높이기 위해 새로운 자동차를 개발...      토요타     일본   9
14611  LG전자은 올해 국내 시장에서 2020 LG 그램 시리즈를 이번 달부터 일련의 북미...     LG전자     북미   0
14612  전남 지방 의회 안전 건설 소방위원회 차영수 의원 (강진 1) 따뜻한 휴가 분위기를...      차영수     의원   2

In [18]:
df_augmented = df[9000:]

# df_augmented = df_augmented[df_augmented[3] != 0]

df_augmented.head()
len(df_augmented)

5613

In [14]:
df_augmented[3].value_counts()

0     2611
10     568
4      444
2      387
15     213
6      156
7      129
17     112
5      111
8       92
20      84
9       82
24      76
1       63
23      57
21      47
33      42
11      34
25      33
14      32
12      29
22      27
3       24
27      22
32      20
35      19
16      18
38      14
30      10
31       9
36       7
13       6
28       6
34       6
39       5
41       5
18       3
26       3
29       2
19       2
37       2
40       1
Name: 3, dtype: int64