In [1]:
from googletrans import Translator

translator = Translator()

text = '31일 야옹이 작가 인스타그램 스토리에는 태국 방콕행 왕복항공권 캡처 사진이 올라왔다'
result_trans = translator.translate(text, src='ko', dest='en')
result_trans_back = translator.translate(result_trans.text, src='en', dest='ko')

In [2]:
print(result_trans.text)
print(result_trans_back.text)

On the 31st, the artist, the writer, the story,
31 일, 아티스트, 작가, 이야기,

In [11]:
import pandas as pd

In [13]:
df = pd.read_csv('/opt/ml/input/data/train/augmented_data.tsv')

len(df)

9399

In [8]:
text = '31일 야옹이 작가 인스타그램 스토리에는 태국 방콕행 왕복항공권 캡처 사진이 올라왔다.'

entity01 = '야옹이'
xt = '31일 야옹이 작가 인스타그램 스토리에는 태국 방콕행 왕복항공권 캡처 사진이 올라왔다.'

entity01 = '야옹이'
entity02 = '작가'

entity_code01 = f"[A]"
entity_code02 = f"[B]"
# entity_code01 = 'qwerdf'
# entity_code02 = 'qawesd'

sentence = text.replace(entity01, entity_code01).replace(entity02, entity_code02)

print(sentence)

31일 [A] [B] 인스타그램 스토리에는 태국 방콕행 왕복항공권 캡처 사진이 올라왔다.

In [9]:
result_trans = translator.translate(text, src='ko', dest='en')
result_trans_back = translator.translate(result_trans.text, src='en', dest='ko')

aug_sentence = result_trans_back.text.replace(entity_code01, entity01).replace(entity_code02, entity02)

print(result_trans.text)
print(result_trans_back.text)
print(aug_sentence)

On the 31st, Yoo, the writer, the writer, said,
31 일, 유, 작가, 작가는 말했다,
31 일, 유, 작가, 작가는 말했다,